body {
  /* background-color: darkblue; */
  /* background-image: url('websitebg.jpg'); */
  /* background-color: #334466; */
  background-image: url('double-bubble-dark.png');
}

h1 {
  /* text-align: center; */
  color: white;
}

p {
  color: white;
}

a {
  color: lightgreen;
  text-decoration: none;
}

a:hover {
  color: magenta;
}
